<footer>
Contact: author@airsick.guide
<br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
<img alt="Creative Commons License" src="/img/licence.png" width="80" height="15" /></a>
</footer>
</main>
