/* Main blocks */
body
{
	margin-left: 64px;
	font-size: large;
	line-height: 1.8;
	color: #333;
	background-color: #f4f4f4;
	margin: 0 auto;
	max-width: 40em;
}
main>section+section::before
{
	content: '';
	margin: 5em auto 5em auto;
	display: block;
	width: 15em;
	height: 1px;
	background: linear-gradient(to right, transparent, black, transparent);
}
article>footer
{
	font-size: small;
}
main>footer
{
	display: block;
	max-width: 20em;
	margin: 3em auto 0 auto;
	padding: 0.5em 2em;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #444;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
	text-shadow: 0 0 2px #000;
}


section>p
{
	margin-top: 2em;
	margin-bottom: 0em;
}


/* headings */
h1, h2, h3
{
	font-family: sans-serif;
}
main>header>h1.title
{
	border-bottom: 5px solid #333;
}
main>header>h3.date
{
	font-size: small;
	font-weight: normal;
}
main>header>h3.date::before
{
	content: "Last change: ";
}
section>h1
{
	border-bottom: 1px solid #ddd;
	font-size: xx-large;
}
section>h2
{
	font-size: x-large;
}


/* Figures */
figure
{
	border: 1px solid #888;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888;
	padding: 1em 0.5em;
	margin: 3em 2em;
	overflow: hidden;
}
figure>figure
{
	float: left;
	border: none;
	box-shadow: none;
	padding: 0;
	margin: 0 1em;
	max-width: calc(50% - 2em);
	overflow: visible;
}
figure>img
{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
img[src$=".svg"]
{
	width: 100%;
}
body>figure a:hover>img
{
	box-shadow: 0 0 5px #888;
}
figcaption
{
	padding: 0.5em;
}
figcaption::before
{
	content: "Figure: ";
	font-weight: bold;
}


/* Quotes */
blockquote
{
	margin: 3em 0 0 0;
}
blockquote::before
{
	float: left;
	line-height: 0;
	margin-left: -0.5em;
	margin-top: 0.4em;
	content: "“";
	color: #999;
	font-family: "Times New Roman", serif;
	font-size: 4em;
}
blockquote>p:last-child::after
{
	display: inline-block;
	line-height: 0;
	position: relative;
	top: 0.5em;
	margin-left: 0.1em;
	margin-top: -1.5em;
	content: "”";
	color: #999;
	font-family: "Times New Roman", serif;
	font-size: 4em;
}
blockquote+cite
{
	clear: both;
	margin-bottom: 3em;
	display: block;
	text-align: right;
	font-size: medium;
}
blockquote+cite::before
{
	content: "— ";
}
blockquote p
{
	margin: 0;
}


/* Tables */
table
{
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0 auto;
}
th
{
	padding: 0.5em;
}
th+th
{
	border-left: 1px solid black;
}
td
{
	padding: 0.5em;
	border-top: 1px solid black;
}
td+td
{
	border-left: 1px solid black;
}


/* Maths */
math[display=block]
{
	font-size: x-large;
}
mtd
{
	padding: 0;
}
math a:target
{
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;
}


/* Table of contents */
#TOC>ul
{
	list-style: none;
	padding: 0 0 0 0.5em;
}
#TOC>ul>li
{
	display: inline-block;
	margin: 0 0.5em 0.5em 0;
	line-height: 3em;
	text-align: center;
	border: 1px solid #bbb;
}
#TOC>ul>li>a
{
	display: inline-block;
	width: 12em;
	height: 3em;
}


/* Citations */
#citations>ol>li>div
{
	padding-bottom: .1em;
	padding-left: calc(.5em + 5px);
}
#citations>ol>li>div:target
{
	border-left: 5px solid black;
	padding-left: .5em;
}


/* remark and important blocks */
.remark
{
	background-color: #d9ffd9;
	padding: 0.5em 1em;
	margin-top: 2em;
}
.remark::before
{
	content: "?";
	color: #00b200;
	font-size: 3em;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	margin-top: -0.9em;
	margin-left: -0.55em;
}
.important
{
	background-color: #ffd9d9;
	padding: 0.5em 1em;
	margin-top: 2em;
}
.important::before
{
	content: "!";
	color: #b20000;
	font-size: 3em;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	margin-top: -0.9em;
	margin-left: -0.55em;
}
